<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Category Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Category Management System</h1>
    <hr>
    <h2>Create Category</h2>

    <form action="#" th:action="@{/Admin/Category/Save}" th:object="${category}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Category name" class="form-control mb-4 col-4">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>

        <button type="submit" class="btn btn-info col-2"> Save Category</button>
    </form>

    <hr>

    <a th:href="@{/Admin/Category}"> Back to Category List</a>
</div>
</body>

</html>