<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Product Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>Categories List</h1>

    <a th:href="@{/Admin/Category/Add}" class="btn btn-primary btn-sm mb-3"> Add Category </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${lsCategory}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td> <a th:href="@{/Admin/Category/Update/{id}(id=${c.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/Admin/Category/Delete/{id}(id=${c.id})}" onclick="return confirm('This will delete category and all products that has this id, continue?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>