<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Product Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>Products and Categories Management System</h1>

    <a th:href="@{/Admin/Product}" class="btn btn-primary btn-sm mb-3"> Products </a>
    <a th:href="@{/Admin/Category}" class="btn btn-primary btn-sm mb-3"> Categories </a>
</div>
</body>

</html>